<%- include('../partials/header') %>
<style>
    .navbar {
    background-color: var(--second-color); 
    }
</style>
<%- include('../partials/endheader') %>
<%- include('../partials/menu') %>
<!-- Header Contact -->
<section class="header-contact" id="header-contact">
    <div class="container contact-wrapper"></div>
</section>

<!-- Contact Content -->
<section class="contact-content" id="contact-content">
    <div class="container content-wrapper">
        <div class="heading-contact">
            <p class="contact-text1">Get <span>to Know</span> US...</p>
            <p class="contact-text2">You can Contact us throught emial, phone number
                or just simply visit us. if you need any help,
                please let us know by filling the form.
            </p>
        </div>
        <div class="field-contact">
            <div class="left-content">
                <img class="contact-image" src="images/contact-image.png" alt="contact-image">
                <p class="left-heading">Have a Problem Management
                    in Mind? <span>Let’s Talk</span>
                </p>
            </div>
            <div class="right-content">
                <div class="content-phone">
                    <div class="sds-phone">
                        <img class="phone-image" src="images/phone_sds.png" alt="contact-image">
                    </div>
                    <div class="phone-text">
                        <p class="phone-heading">Phone</p>
                        <p class="phone-number">021 - 22733343</p>
                    </div>
                </div>
                <div class="content-mail">
                    <div class="sds-phone">
                        <img src="images/mail-sds.png" alt="contact-image">
                    </div>
                    <div class="mail-text">
                        <p class="mail-heading">Mail</p>
                        <p class="mail-adress">pt.dwisejahtera@gmail.com</p>
                    </div>
                </div>
                <div class="content-location">
                    <div class="location-tittle">
                        <p class="location-heading">OUR LOCATION :</p>
                    </div>
                    <div class="sds-maps">
                        <div class="sds-location">
                            <img src="images/location_sds.png" alt="contact-image">
                        </div>
                        <div class="sds-gmpas">
                            <img src="images/gmaps_sds.png" alt="contact-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FORM SECTION -->
<section class="form-contact" id="form-contact">
    <div class="container form-wrapper">
        <div class="form-heading">
            <p class="heading-title">Have a Question ?</p>
        </div>
        <form action="">
            <div class="input-area">
                <div class="input-left">
                    <div class="field-input">
                        <label for="fullname">Full Name :</label>
                        <input type="text" id="fullname" name="inputText1">
                    </div>
                    <div class="field-input">
                        <label for="mail">Your Mail :</label>
                        <input type="text" id="mail" name="inputText1">
                    </div>
                    <div class="field-input">
                        <label for="subject">Subject :</label>
                        <input type="text" id="subject" name="inputText1">
                    </div>
                </div>
                <div class="input-right">
                    <div class="textarea-field">
                        <label for="inputTextarea">Pesan :</label>
                        <textarea id="inputTextarea" name="inputTextarea" rows="4" placeholder=""></textarea>
                    </div>
                    <div class="btn-submit">
                        <a href="#" class="btn-message"> Submit </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<%- include('../partials/footer') %>
<%- include('../partials/end') %>