<%- include('../partials/header') %>
<style>
    .navbar {
    background-color: var(--second-color); 
    }
</style>
<%- include('../partials/endheader') %>
<%- include('../partials/menu') %>
<section class="home" id="home">
    <img class="image-cover" src="images/background_section1_1.png" alt="image_cover">
    <div class="container flex-container">
        <div class="flex-item item1">
            <img class="image-middle1" src="images/women_cover.png" alt="woman_images">
        </div>
        <div class="flex-item item2">
            <div class="bubble"></div>
            <div class="title-box">
                <p class="paragraph-one">
                    THE BEST <span class="orange-text">MANGEMENT</span> <span class="white-text">CONSULTING</span>
                    FOR YOUR BUSINESS...
                </p>
                <p class="paragraph-two">
                    Lorem ipsum dolor sit amet consectetur. Consequat in tortor
                    convallis etiam risus. Amet habitasse neque est at lacus mi fermentum.
                </p>
                <a href="/contact" class="btn-contact"> LET'S TALK </a>
            </div>
        </div>
        <div class="flex-item item3">
            <img class="image-middle3" src="images/man-cover.png" alt="man_images">
        </div>
    </div>
</section>

<!-- Services start -->

<section class="service" id="service">
    <div class="container service-container">
        <div class="title-services">
            HOW <span>OUR SERVICE</span> WORKS ??
        </div>
        <div class="service-one">
            <div class="box">
                <img class="service-image" src="images/Tax-white.png" alt="tax-icon">
                <p class="service-paragraph1">Tax</p>
                <p class="service-paragraph2">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="arrow-image" src="images/Arrow-services.png" alt="Deskripsi Gambar">
                <a href="/services"><p class="service-paragraph3">Learn More...</p></a>
            </div>
            <div class="box">
                <img class="service-image" src="images/User_Account.png" alt="tax-icon">
                <p class="service-paragraph1">Man Power</p>
                <p class="service-paragraph2">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="arrow-image" src="images/Arrow-services.png" alt="Deskripsi Gambar">
                <a href="/services"><p class="service-paragraph3">Learn More...</p></a>
            </div>
            <div class="box">
                <img class="service-image" src="images/Check-Dollar.png" alt="tax-icon">
                <p class="service-paragraph1">Finance</p>
                <p class="service-paragraph2">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="arrow-image" src="images/Arrow-services.png" alt="Deskripsi Gambar">
                <a href="/services"><p class="service-paragraph3">Learn More...</p></a>
            </div>
        </div>
        <div class="service-two">
            <div class="box">
                <img class="service-image" src="images/Total-Sales.png" alt="tax-icon">
                <p class="service-paragraph1">Accounting</p>
                <p class="service-paragraph2">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="arrow-image" src="images/Arrow-services.png" alt="Deskripsi Gambar">
                <a href="/services"><p class="service-paragraph3">Learn More...</p></a>
            </div>
            <div class="box">
                <img class="service-image" src="images/Scales.png" alt="tax-icon">
                <p class="service-paragraph1">Feseability</p>
                <p class="service-paragraph2">Lorem ipsum dolor sit amet consectetur.</p>
                <img class="arrow-image" src="images/Arrow-services.png" alt="Deskripsi Gambar">
                <a href="/services"><p class="service-paragraph3">Learn More...</p></a>
            </div>
        </div>
    </div>
</section>

<!-- SERVICE experience -->
<section class="experience" id="experience">
    <div class="container experience-container">
        <!-- Kolom Pertama -->
        <div class="column1">
            <p class="experience-paragraph1">The Hundred of Completed Works <span>Still Counting</span> in Any
                Industries</p>
            <p class="experience-paragraph2">Lorem ipsum dolor sit amet consectetur. Pellentesque orci nulla
                etiam morbi urna vitae donec tempor id. Consequat in varius
                aliquam tristique porta pretium mauris nunc.</p>
        </div>
        <!-- Kolom Kedua -->
        <div class="column2">
            <img class="experience-image" src="images/experience.png" alt="tax-icon">
        </div>
    </div>
</section>

<!-- BANNER HOME -->
<section class="banner-home" id="banner-home">
    <div class="container banner-container">
        <div class="banner-content">
            <p class="banner-title">Contact US <span>to Secure</span> your Management Services Needs</p>
            <p class="banner-text">Let’s collaborate and make an impact with our approach to manages.</p>
        </div>
        <div lass="banner-button">
            <a href="/contact" class="btn-banner"> LET’S WORK TOGETHER </a>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>
<%- include('../partials/end') %>