<%- include('../partials/header') %>
<%- include('../partials/endheader') %>
<%- include('../partials/menu') %>
<!-- Background Header -->
<section class="header" id="header">
    <div class="container header-container">
        <div class="heading">
            <p class="header-heading">JOIN WITH US...</p>
            <p class="header-subheading">Let's Grow up Together</p>
        </div>
    </div>
</section>

<!-- JOB VACANCY-->
<section class="apply-job" id="apply-job">
    <div class="container apply-container">
        <div class="column1">
            <img class="career-image" src="images/career_image.png" alt="career-image">
            <p class="career-heading">
                The working principle
                that keeps us <span>in tune...</span>
            </p>
        </div>
        <div class="column2">
            <div class="column2-heading">
                <p class="vacancy-heading">Akuntansi & Perpajakan STAFF</p>
            </div>
            <div class="column2-criteria">
                <p class="vacancy-subheading">Karyawan dengan kualifikasi:</p>
                <p class="vacancy-criteria">>> Jenis Kelamin: Laki - laki/Perempuan</p>
                <p class="vacancy-criteria">>> Umur Maksimal: 25 Tahun</p>
                <p class="vacancy-criteria">>> Pendidikan Minimal: D3/S1 Akuntansi & Perpajakan</p>
                <p class="vacancy-criteria">>> Lokasi Kerja: Jakarta Selatan</p>
                <p class="vacancy-subheading">Magang dengan kualifikasi:</p>
                <p class="vacancy-criteria">>> Jenis Kelamin: Laki - laki/Perempuan</p>
                <p class="vacancy-criteria">>> Umur Maksimal: 20 Tahun</p>
                <p class="vacancy-criteria">>> Pendidikan Minimal: SMK Akuntansi</p>
                <p class="vacancy-criteria">>> Lokasi Kerja: Jakarta Selatan</p>
            </div>
            <div class="column2-btn">
                <a href="#" class="btn-apply"> APPLY </a>
            </div>
        </div>
    </div>
</section>

<!-- HOW TO APPLY SECTION -->
<section class="apply-process" id="apply-process">
    <div class="container procedur-container">
        <div class="procedur-title">
            <p class="procedur-heading">How To <span>Apply</span></p>
            <p class="procedur-subheading">Welcome, Follow this Steps to be a part of SDS</p>
        </div>
        <div class="procedur-flow">
            <div class="flow-apply">
                <div class="flow-image">
                    <img class="search-image" src="images/Search.png" alt="search-image">
                </div>
                <div class="flow-heading">
                    <p class="heading-content">Available Possition</p>
                </div>
                <div class="flow-subheading">
                    <p class="subheading-content">Find Available Possition</p>
                </div>
            </div>
            <div class="flow-apply">
                <div class="flow-image">
                    <img class="search-image" src="images/Submit-Approval.png" alt="search-image">
                </div>
                <div class="flow-heading">
                    <p class="heading-content">Klik Apply Button</p>
                </div>
                <div class="flow-subheading">
                    <p class="subheading-content">Klik Apply if you find available possition with you</p>
                </div>
            </div>
            <div class="flow-apply">
                <div class="flow-image">
                    <img class="search-image" src="images/Multiple_Choice.png" alt="search-image">
                </div>
                <div class="flow-heading">
                    <p class="heading-content">Feel the data </p>
                </div>
                <div class="flow-subheading">
                    <p class="subheading-content">Feel Every data in the form</p>
                </div>
            </div>
            <div class="flow-apply">
                <div class="flow-image">
                    <img class="search-image" src="images/Assessments.png" alt="search-image">
                </div>
                <div class="flow-heading">
                    <p class="heading-content">Selection</p>
                </div>
                <div class="flow-subheading">
                    <p class="subheading-content">make sure your feel the contact
                        of you is right & still working.
                        so we can contact you.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<%- include('../partials/footer') %>
<script src="javascripts/header.js"></script>
<%- include('../partials/end') %>