<%- include('../partials/header') %>
<style>
    .header {
        background-image: url('../images/about_frame.png');
    }
</style>
<%- include('../partials/endheader') %>
<%- include('../partials/menu') %>

<!-- HEADER ABOUT -->
<section class="header" id="header">
    <div class="container header-container">
        <div class="heading">
            <p class="header-heading">OUR COMPANY</p>
            <p class="header-subheading">Get Closer With US</p>
        </div>
    </div>
</section>

<!-- CONTENT ABOUT -->
<section class="about-sds" id="about-sds">
    <div class="container header-about">
        <div class="about-left">
            <img class="about-image" src="images/about-image.png" alt="about-image">
        </div>
        <div class="about-right">
            <div class="history-heading">
                <p class="history-head">PT Sarana Dwi Sejahtera,</p>
                <p class="histori-text">PT Sarana Dwi Sejahtera Based on Notary Deed of Establishment
                    Elly Rustam, SH No. 017 on November 17, 2009 as well has
                    obtained approval from the minister of Justice and Human
                    Rights of the Republic of Indonesia Number: AHU-10011.AH.01.02
                    Year 2010. Dated 24 February 2010
                </p>
                <p class="histori-text">
                    Based on the legal basis and reality that the existing human
                    resources are still needed increased to support economic growth,
                    then based on these problems PT Sarana Dwi Sejahtera willing
                    to participate in supporting development economic growth,
                    where it is realized in the form of establishing a company called
                    PT Sarana Dwi Sejahtera engaged in management consulting.
                </p>
            </div>
            <div class="purpose-sds" id="purpose-sds">
                <div class="heading-purpose">
                    <p class="heading-text" id="heading-text">Purpose & Objectives</p>
                </div>
                <div class="icon-purpose" onclick="rotateImage()">
                    <img id="rotatingImage" src="images/about_arrow_up.png" alt="arrow-down">
                </div>
            </div>
            <div class="text-purpose">
                <p class="sds-purpose" id="text-purpose">
                    Provide other options for users of the services offered PT Sarana
                    Dwi Sejahtera is expected to provide better convenience and
                    comfort for service users.
                </p>
            </div>
            <div class="moto-sds" id="moto-sds">
                <div class="heading-moto">
                    <p class="moto-mainheading" id="moto-mainheading">Motto</p>
                </div>
                <div class="icon-moto" onclick="rotateImg()">
                    <img id="rotatingImg" src="images/about_arrow_up.png" alt="arrow-down">
                </div>
            </div>
            <div class="text-moto">
                <p class="sds-moto" id="sds-moto">Provide other options for users of the services offered PT Sarana
                    Dwi Sejahtera is expected to provide better convenience and
                    comfort for service users.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Principle Working -->
<section class="principle" id="principle">
    <div class="container header-container">
        <div class="principle-heading">
            <p class="principle-tittle">Our <span>Principle</span> Working</p>
            <p class="principle-desc">We Provide Client with the best Professional Management Services</p>
        </div>
        <div class="principle-value">
            INI VALUE WORKING SDS
        </div>
    </div>
</section>
<%- include('../partials/footer') %>
<script src="/javascripts/header.js"></script>
<script src="/javascripts/expand.js"></script>
<%- include('../partials/end') %>