<%- include('../partials/header') %>
<%- include('../partials/endheader') %>
<%- include('../partials/menu') %>
<!-- Background Header -->
<section class="header" id="header">
    <div class="container header-container">
        <div class="heading">
            <p class="header-heading">JOIN WITH US...</p>
            <p class="header-subheading">Let's Grow up Together</p>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>
<script src="javascripts/header.js"></script>
<%- include('../partials/end') %>