<%- include('../partials/header') %>
<style>
    .header {
        background-image: url('../images/service_cover.png');
    }
</style>
<%- include('../partials/endheader') %>
<%- include('../partials/menu') %>
<!-- Background Header -->
<section class="header" id="header">
    <div class="container header-container">
        <div class="heading">
            <p class="header-heading">We Do Too...</p>
            <p class="header-subheading">Care About every sector 
                Management in your Business Lines</p>
        </div>
    </div>
</section>

<!-- MANAGEMENT CONSULTING CONTENT -->
<section class="header-consulting">
    <div class="container consulting-wrapper">
        <div class="heading-consulting">
            <P class="consulting-text1"> <span>Our</span> Management Consulting  Of <span>Responsibility</span></P>
            <p class="consulting-text2">SDS Cmbine Client Experience, Our Experience & Data Analytics for making Decissiion 
                of your management business scope of areas
            </p>
        </div>
        <div class="detail-service-one">
            <div class="service-consulting">
                <div class="service-icon">
                    <img src="/images/finance_services.png" alt="finance-services">
                </div>
                <div class="service-detail">
                    <p class="services-heading">
                        Finance
                    </p>
                    <p class="services-desc">
                        Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent sit
                        malesuada pellentesque nisi. Urna rhoncus 
                        amet pellentesque in orci fringilla.
                    </p>
                </div>
            </div>
            <div class="service-consulting">
                <div class="service-icon">
                    <img src="/images/tax-services.png" alt="tax-services">
                </div>
                <div class="service-detail">
                    <p class="services-heading">
                        Tax
                    </p>
                    <p class="services-desc">
                        Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent sit
                        malesuada pellentesque nisi. Urna rhoncus 
                        amet pellentesque in orci fringilla.
                    </p>
                </div>
            </div>
        </div>
        <div class="detail-service-one">
            <div class="service-consulting">
                <div class="service-icon">
                    <img src="/images/accounting_services.png" alt="accoutning-services">
                </div>
                <div class="service-detail">
                    <p class="services-heading">
                        Accounting
                    </p>
                    <p class="services-desc">
                        Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent sit
                        malesuada pellentesque nisi. Urna rhoncus 
                        amet pellentesque in orci fringilla.
                    </p>
                </div>
            </div>
            <div class="service-consulting">
                <div class="service-icon">
                    <img src="/images/man_power.png" alt="manpower-services">
                </div>
                <div class="service-detail">
                    <p class="services-heading">
                        Man Powering
                    </p>
                    <p class="services-desc">
                        Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent sit
                        malesuada pellentesque nisi. Urna rhoncus 
                        amet pellentesque in orci fringilla.
                    </p>
                </div>
            </div>
        </div>
        <div class="detail-service-one">
            <div class="service-consulting">
                <div class="service-icon">
                    <img src="/images/feseability.png" alt="accoutning-services">
                </div>
                <div class="service-detail">
                    <p class="services-heading">
                        Feseability
                    </p>
                    <p class="services-desc">
                        Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent sit
                        malesuada pellentesque nisi. Urna rhoncus 
                        amet pellentesque in orci fringilla.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- EXPERT SAID -->
<section class="header-expert">
    <div class="expert-wrapper">
        <div class="expert-left">
            <p class="expert-heading">
                Why <span>Management 
                is</span> Important?
            </p>
            <p class="expert-subheading">
                    What the expert said
            </p>
            
            <div class="expert-button">
                <div id="prev-btn" class="button-expert-left"></div>
                <div id="next-btn" class="button-expert-right"></div>
            </div>
        </div>
        <div id="item-expert" class="expert-right">
            <div class="card-opinion">
                <div class="image-quote-icon">
                    <img src="/images/quote_opinion.png" alt="quote-opinion">
                </div>
                <div class="quote-opinion-text">
                    <p class="opinion-detail-text">
                        “ Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent 
                        sit malesuada pellentesque nisi.“
                    </p>
                </div>
                <div class="figure">
                    <div class="figure-image"></div>
                    <div class="figure-biografi">
                        <p class="figure-name-tittle">Sri Mulyani Indrawati, S.E., M.Sc., Ph.D.</p>
                        <p class="figure-name-position">Ministry of Finance</p>
                    </div>
                </div>
            </div>
            <div class="card-opinion">
                <div class="image-quote-icon">
                    <img src="/images/quote_opinion.png" alt="quote-opinion">
                </div>
                <div class="quote-opinion-text">
                    <p class="opinion-detail-text">
                        “ Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent 
                        sit malesuada pellentesque nisi.“
                    </p>
                </div>
                <div class="figure">
                    <div class="figure-image"></div>
                    <div class="figure-biografi">
                        <p class="figure-name-tittle">Sri Mulyani Indrawati, S.E., M.Sc., Ph.D.</p>
                        <p class="figure-name-position">Ministry of Finance</p>
                    </div>
                </div>
            </div>
            <div class="card-opinion">
                <div class="image-quote-icon">
                    <img src="/images/quote_opinion.png" alt="quote-opinion">
                </div>
                <div class="quote-opinion-text">
                    <p class="opinion-detail-text">
                        “ Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent 
                        sit malesuada pellentesque nisi.“
                    </p>
                </div>
                <div class="figure">
                    <div class="figure-image"></div>
                    <div class="figure-biografi">
                        <p class="figure-name-tittle">Sri Mulyani Indrawati, S.E., M.Sc., Ph.D.</p>
                        <p class="figure-name-position">Ministry of Finance</p>
                    </div>
                </div>
            </div>
            <div class="card-opinion">
                <div class="image-quote-icon">
                    <img src="/images/quote_opinion.png" alt="quote-opinion">
                </div>
                <div class="quote-opinion-text">
                    <p class="opinion-detail-text">
                        “ Lorem ipsum dolor sit amet consectetur.
                        Nulla pulvinar pellentesque amet praesent 
                        sit malesuada pellentesque nisi.“
                    </p>
                </div>
                <div class="figure">
                    <div class="figure-image"></div>
                    <div class="figure-biografi">
                        <p class="figure-name-tittle">Sri Mulyani Indrawati, S.E., M.Sc., Ph.D.</p>
                        <p class="figure-name-position">Ministry of Finance</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<%- include('../partials/footer') %>
<script src="javascripts/header.js"></script>
<script src="/javascripts/service.js"></script>
<%- include('../partials/end') %>